<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <br>
  <p>A place where you can write about <i>everything</i> you are passionate about, and share it with the <i>world</i>.</p>
  <p>Just don't go writing about weird-ass shit, bruh.</p>
  <br>
  <%= link_to "Sign up now!", "#", class: "btn btn-danger btn-lg btn-xlarge" %>