<body style='background-color:grey;'/>

<h1>Home</h1>

<p>Here is the home page for my blog. Be sure to check out some cool stuff, such as:</p>
<ul><li>This</li><li>That</li><li>The Other Thing</li></ul>

<%= link_to 'About', about_path %>